<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1><%= pageTitle %></h1>
        <% if (students.length > 0) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach(function(student) { %>
                <tr>
                    <td><%= student.id %></td>
                    <td><%= student.name %></td>
                    <td><%= student.grade %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <p>No students found</p>
        <% } %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
